asgiref==3.2.3
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
DateTime==4.3
Django==3.0.4
idna==2.8
jsonfield==3.1.0
pycparser==2.20
pytz==2019.3
requests==2.22.0
six==1.14.0
spotipy==2.7.1
sqlite-bro==0.9.1
sqlparse==0.3.0
urllib3==1.25.8
zope.interface==4.7.1
