<div id="messages">

    <div class="alert alert-info sm-hidden" role="alert">
        MusicMatch was designed for mobile screens. We are sorry for any inconvenience this might cause.
    </div>

    
    {% if messages %}
        {% for message in messages %}
            {% if message.tags in '["success", "warning", "info"]' %}                
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% elif message.tags == "error" %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>  
            {% else %}
                <div class="alert alert-light" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>