{% extends "main/layout.html" %}

{% load static %}

{% block scripts %}
    <script src="{% static 'main/js/auth_util.js' %}"></script>
    <script src="{% static 'main/js/change_password.js' %}"></script>
{% endblock %}

{% block title %}
    Change password
{% endblock %}

{% block body %}
    <h1 class="title">Change password - {{username}}</h1>

    <form action="{% url 'account_message' message %}" method="post" id="formChangePassword">
        {% csrf_token %}

        <div class="login-row">
            <label for="inputNewPassword" class="login-label">New password</label>
            <input name="newPassword" class="input-text login-input" type="password" placeholder="password" id="inputNewPassword">
        </div>
        
        <div class="login-row">
            <label for="inputConfirmPassword" class="login-label">Confirm password</label>
            <input name="confirmPassword" class="input-text login-input" type="password" placeholder="confirm password" id="inputConfirmPassword">
        </div>

        <div class="login-row">
            <button type="submit" id="submitForm" class="submit">Set password</button>
        </div>
    </form> 
{% endblock %}