{% extends "main/layout.html" %}

{% load static %}

{% block scripts %}
    <script src="{% static 'main/js/auth_util.js' %}"></script>
    <script src="{% static 'main/js/forgot_password.js' %}"></script>
{% endblock %}

{% block title %}
    Forgot password
{% endblock %}

{% block body %}
    <h1 class="title">Forgot password</h1>

    <form action="{% url 'forgot_password' %}" method="post" id="formForgotPassword">
        {% csrf_token %}

        <div class="login-row">
            <label for="inputUsername" class="login-label">Username</label>
            <input name="username" class="input-text login-input" type="text" placeholder="Username" id="inputUsername">
        </div>
        
        <div class="login-row">
            <label for="inputEmail" class="login-label">Email</label>
            <input name="email" class="input-text login-input" type="text" placeholder="Email" id="inputEmail">
        </div>
        
        <div class="login-row">
            <button type="submit" id="submitForm" class="submit">Send email</button>
        </div>
    </form> 
{% endblock %}

