<nav class="navbar navbar-expand-sm navbar-light">

    <button class="collapsible" type="button">
        <!-- TODO Custom icon -->
        Menu
    </button> 

    <div class="content">
        <a class="navbarCollapseItem" href="{% url 'index' %}">Home</a>
        <a class="navbarCollapseItem" href="{% url 'stats' %}">Stats</a> 
        <a class="navbarCollapseItem" href="{% url 'compare' %}">Compare</a> 
        <a class="navbarCollapseItem" href="{% url 'update' %}">Update</a> 
    </div>
   
    <div class="navbar-right">
        {% if request.user.is_authenticated %}
            <a id="usernameButton" href="{% url 'account' %}">
                <button>{{request.user.username}}</button>
            </a>
            <a href="{% url 'logout' %}">
                <button type="button">Sign out</button>
            </a>

        {% else %}
            <button type="button" id="button-login">Login</button>
            
            <a href="{% url 'register' %}">
                <button type="button">Register</button>
            </a>
        {% endif %}
    </div>
</nav>