{% extends "main/layout.html" %}

{% load static %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <script src="{% static 'main/js/home.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    
    <h1 class="title" id="title">Music Match</h1>

    <form id="formUsernames">

        <div class="flexbox user-field">
            <input name="username" class="input-text flex-1 input-user-field" type="text" placeholder="username"/>
            <button class="add-user">+</button>
        </div>

        <button type="submit" class="submit" id="submitForm">Submit</button>
    </form>

    <hr>

    <ul id="benefits-list">
        <li class="bullet-text">View your music taste</li>
        <li class="bullet-text">Compare with others</li>
        <li class="bullet-text">Enjoy music together</li>
    </ul>

    <div id="stats-single-username" class="hidden">
        <canvas class="chart" id="artistChart" width="400" height="400"></canvas>        

        <canvas class="chart" id="genreChart" width="400" height="400"></canvas>    
    </div>

    <div id="stats-comparison" class="hidden">
        <button id="inputCreatePlaylist" class="submit">Create Playlist</button>

        <canvas class="chart" id="artistChartComparison" width="400" height="400"></canvas>

        <canvas class="chart" id="genreChartComparison" width="400" height="400"></canvas>
    </div>
    
{% endblock %}