{% extends "main/layout.html" %}

{% load static %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    
    <h1 class="title">Music Match</h1>

    <form class="flexbox">
        <input name="username" class="input-text" type="text" placeholder="username" id="inputUsername"/>
        <button type="submit" class="add-user-button">+</button>

    </form>

    <hr>
    
    <ul>
        <li class="bullet-text">View your music taste</li>
        <li class="bullet-text">Compare with others</li>
        <li class="bullet-text">Enjoy music with them</li>
    </ul>
{% endblock %}