{% extends "main/layout.html" %}

{% load static %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <script src="{% static 'main/js/home.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    
    <h1 class="title" id="title">Music Match</h1>

    <form id="formUsernames">

        <div class="flexbox user-field">
            <input name="username" class="input-text flex-1 input-user-field" type="text" placeholder="username"/>
            <button class="add-user">+</button>
        </div>

        <div class="flexbox">
            <button id="input-create-playlist" class="submit left hidden">Create Playlist</button>

            <button type="submit" class="submit right" id="submitForm">Submit</button>
        </div>
    </form>

    <hr>


    <ul id="benefits-list">
        <li class="bullet-text">View your music taste</li>
        <li class="bullet-text">Compare with others</li>
        <li class="bullet-text">Enjoy music together</li>
    </ul>

    <div id="stats-page" class="hidden">
        
        <div class="stats-block" id="stats-block-1-1">
            <div class="stats-block-value"></div>
            <div class="stats-block-label"></div>
        </div>

        <div class="stats-block" id="stats-block-1-2">
            <div class="stats-block-value"></div>
            <div class="stats-block-label"></div>
        </div>
        <div class="stats-block" id="stats-block-2-1">
            <div class="stats-block-value"></div>
            <div class="stats-block-label"></div>
        </div>

        <div class="stats-block" id="stats-block-2-2">
            <div class="stats-block-value"></div>
            <div class="stats-block-label"></div>
        </div>

        <div id="stats-chart-artists" class="chart-block-slider"></div>

        <div class="stats-block" id="stats-block-3-1">
            <div id="stats-block-total-genres" class="stats-block-value"></div>
            <div class="stats-block-label"></div>
        </div>

        <div class="stats-block" id="stats-block-3-2">
            <div class="stats-block-value"></div>
            <div class="stats-block-label"></div>
        </div>

        <div id="stats-chart-genres" class="chart-block-slider"></div>

    </div>
    
{% endblock %}