{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <title>
            {% block title %} {% endblock %}
        </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>

        <script src="{% static 'main/js/util.js' %}"></script>
        <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
        
        {% block scripts %} {% endblock %}

    </head>
    <body>
        {% include "main/header.html" %}
        
        <div class="main">
            {% include "main/messages.html" %}
            {% block body %} {% endblock %}
        </div>
    </body>
</html>