<div id="loginBlock" class="hidden login-block">
    <h1 class="title" id="login-title">Login</h1>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="login-row">
            <label for="inputUsernameLogin" class="login-label">Username</label>
            <input name="username" class="input-text login-input" type="text" placeholder="username" id="inputUsernameLogin"/>
        </div>
        
        <div class="login-row">
            <label for="inputPassword" class="login-label">Password</label>
            <input name="password" class="input-text login-input" type="password" placeholder="password" id=inputPassword/>
        </div>

        <div class="login-row">
            <a href="{% url 'forgot_password' %}" class="text-link" id="forgot-link">
                Forgot password?
            </a>
            <button type="submit" class="submit">Login</button>
        </div>

        <div class="signup-bar">
            Don't have an account? <a href="{% url 'register' %}"class="text-link">Register!</a>
        </div>
        
    </form>

</div>
    
    