$main-margin-side:15%;
$theme-color-light: #FFF3F3;
$theme-color-bright: #FF7272;
$border-color: #707070;
$font-color: #707070;

body {
    width:100%;
    height: 100vh;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
  
button { 
    border: 1px solid;
    border-radius: 10px;
    border-color:$border-color;
    padding: 10px 15px;
    background-color: transparent;
    margin: 5px 2px;
}

li {
	margin: 0;
	padding: 20px 0 20px 40px;
	list-style: none;
	background-image: url("../img/music_note.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}

ul {
    padding: 0px;
}

hr {
    margin: 30px 0px;
}

footer {
    background-color: $theme-color-light;
    width: 100%;
    padding: 0 0 0 10px;
}

.main {
    margin-left: $main-margin-side;
    margin-right: $main-margin-side;
    margin-top: 15px;
    flex: 1 0 auto; 
}

@media only screen and (max-width: 576px) {
    .main {
      margin-left:10px;
      margin-right:10px;
    }
    .row {
      margin-left:0px;
    }
}

.hidden {
    display:none;
}

.chart {
    margin: 0 auto;

    max-width: 575px;
}

.content {
    padding: 0 18px;
    overflow: hidden;
    background-color: transparent;
    width:100%;
    transition: max-height 0.2s ease-out;
    max-height: 0px;
}

.navbar {
    background-color: $theme-color-light;
    width: 100%;
}
  
.navbarCollapseItem {
    display:block;
    color:black;
    font-size: 20px;
    margin: 5px 0px;
  
}
  
.navbar-right {
    position: absolute;
    top: 6px;
    right: 16px;
}

.input-text { 
    border: 1px solid;
    border-color: $border-color;
    border-radius: 10px;
    padding: 2px 0px 2px 10px; 
    margin: 5px 2px;
    flex:1;
}

.add-user {
    background-color: #CBFFC0;
    font-size:18px;
    font-weight: bold;
}

.do-nothing{
    background-color: #DCDCDC;
    font-size:18px;
    font-weight: bold;
}

.remove-user {
    background-color: $theme-color-bright;
    font-size:18px;
    font-weight: bolder;
}

.flexbox {
    display:flex;
}

.title {
    color: $theme-color-bright;
    margin:20px 0px;
}

.bullet-text {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

.submit {
    display: block;
    background-color: $theme-color-light;
    margin-left:auto; margin-right:0;}

.expand {
    animation: expand 0.2s ease-out;
}

.shrink {
    animation: expand 0.2s ease-in;
    animation-direction: reverse;
}

@keyframes expand {
    0% {
        max-height: 0px;
    }
    100% {
        max-height: 50px;
    }
}

.footer-item{
    display: inline-block;
    margin: 10px;
    color: $font-color;
    font-weight: 500;
    // margin-top: auto;
    // margin-bottom: 0;

}
