body {
  width: 100%;
  height: 100vh;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  border: 1px solid;
  border-radius: 10px;
  border-color: #707070;
  padding: 10px 15px;
  background-color: transparent;
  margin: 0 2px;
}

li {
  margin: 0;
  padding: 20px 0 20px 40px;
  list-style: none;
  background-image: url("../img/music_note.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
}

ul {
  padding: 0px;
}

hr {
  margin: 15px 0px;
}

footer {
  background-color: #FFF3F3;
  width: 100%;
  padding: 0 0 0 10px;
}

.main {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media only screen and (max-width: 576px) {
  .main {
    margin-left: 10px;
    margin-right: 10px;
  }
  .row {
    margin-left: 0px;
  }
}

.hidden {
  display: none !important;
}

@media only screen and (max-width: 576px) {
  .sm-hidden {
    display: none !important;
  }
}

.chart {
  margin: 0 auto;
  max-width: 575px;
}

.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  max-height: 0px;
}

.navbar {
  background-color: #FFF3F3;
  width: 100%;
}

.navbarCollapseItem {
  display: block;
  color: black;
  font-size: 20px;
  margin: 5px 0px;
}

.navbar-right {
  position: absolute;
  top: 6px;
  right: 16px;
}

.user-field {
  margin: 5px 0px;
}

.input-user-field {
  margin: 0 2px 0 0;
}

.input-text {
  border: 1px solid;
  border-color: #707070;
  border-radius: 10px;
  padding: 2px 0px 2px 10px;
  height: 50px;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.add-user {
  background-color: #CBFFC0;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.remove-user {
  background-color: #FF7272;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title {
  color: #FF7272;
  margin: 20px 0px;
}

.text {
  font-size: 20px;
  font-weight: 600;
}

.bullet-text {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

.submit {
  display: block;
  background-color: #FFF3F3;
  margin-left: auto;
  margin-right: 0;
}

.expand {
  -webkit-animation: expand 0.2s ease-out;
          animation: expand 0.2s ease-out;
}

.shrink {
  -webkit-animation: expand 0.2s ease-in;
          animation: expand 0.2s ease-in;
  animation-direction: reverse;
}

@-webkit-keyframes expand {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 50px;
  }
}

@keyframes expand {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 50px;
  }
}

.footer-item {
  display: inline-block;
  margin: 10px;
  color: #707070;
  font-weight: 500;
}

.background {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.login-block {
  background-color: white;
  width: 90%;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px groove #707070;
  border-radius: 20px;
  overflow: hidden;
}

.login-row {
  padding-left: 15px;
  padding-right: 10px;
}

.login-input {
  width: 60%;
  float: right;
}

#forgot-link {
  float: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.signup-bar {
  background-color: #FFF3F3;
  margin-top: 10px;
  padding: 10px 10px 10px 15px;
}

.text-link {
  color: #111111;
  text-decoration: underline;
}

#login-title {
  padding-left: 15px;
  padding-right: 10px;
}

.f-row {
  margin: 15px 5px 5px 0px;
}

.label-form {
  margin: 0 0 2px 0;
  font-size: 14px;
  font-weight: bold;
}

.input-form {
  width: 100%;
}

.invalid-input {
  border-color: red;
}

.error-text {
  color: red;
}

.inline {
  display: inline-block;
}

.img-inline {
  display: inline-block;
  width: 16px;
}

#editPassword {
  margin-left: 0px;
}

#stats-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 20px 10px;
  margin-bottom: 10px;
}

#stats-block-1-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: stats-block-1-1;
}

#stats-block-1-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: stats-block-1-2;
}

#stats-block-2-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: stats-block-2-1;
}

#stats-block-2-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: stats-block-2-2;
}

#stats-block-3-1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: stats-block-3-1;
}

#stats-block-3-2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: stats-block-3-2;
}

#stats-chart-artists {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: chart-artists;
}

#stats-chart-genres {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: chart-genres;
}

.stats-page-single {
      grid-template-areas: "stats-block-1-1 stats-block-1-1" "stats-block-2-1 stats-block-2-1" "chart-artists chart-artists" "stats-block-3-1 stats-block-3-1" "chart-genres chart-genres";
}

.stats-page-double {
      grid-template-areas: "stats-block-1-1 stats-block-1-2" "stats-block-2-1 stats-block-2-2" "chart-artists chart-artists" "stats-block-3-1 stats-block-3-2" "chart-genres chart-genres";
}

.stats-block {
  width: 100%;
  max-width: 400px;
  margin: auto;
  background-color: #FFF3F3;
  border: 1px solid #FF7272;
  border-radius: 20px;
}

.stats-block-value {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.stats-block-label {
  text-align: center;
  font-size: 16px;
  padding-bottom: 10px;
}

.chart-block-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 -10px;
  padding: 0 10px;
}

.chart-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 85%;
  background-color: #FFF3F3;
  border: 1px solid #FF7272;
  border-left-style: none;
  position: relative;
}

.chart-block:first-child {
  border-left: 1px solid #FF7272;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.chart-block:first-child > .chart-position-label {
  position: relative;
  left: 7px;
  top: -5px;
}

.chart-block:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.chart-block:last-child:after {
  position: absolute;
  width: 10px;
  left: 100%;
  overflow: hidden;
  opacity: 0;
  content: "C";
}

.chart-block-height-1 {
  height: 88px;
}

.chart-block-height-2 {
  height: 105px;
}

.chart-position-label {
  font-style: italic;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  left: 2px;
  top: -7px;
}

.chart-key-label {
  font-size: 28px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: relative;
  top: -20px;
  left: 10%;
}

.chart-value-label {
  font-size: 18px;
  font-weight: 400;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: -20px;
  left: 10%;
  margin-top: -8px;
}

.left {
  margin-left: 0;
}
/*# sourceMappingURL=styles.css.map */