$main-margin-side:15%;
$theme-color-light: #FFF3F3;
$theme-color-bright: #FF7272;

$theme-border: 1px solid $theme-color-bright;
$border-color: #707070;
$border-radius: 20px;

$font-color: #707070;

body {
    width:100%;
    height: 100vh;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
  
button { 
    border: 1px solid;
    border-radius: 10px;
    border-color:$border-color;
    padding: 10px 15px;
    background-color: transparent;
    margin: 0 2px;
}

li {
	margin: 0;
	padding: 20px 0 20px 40px;
	list-style: none;
	background-image: url("../img/music_note.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}

ul {
    padding: 0px;
}

hr {
    margin: 15px 0px;
}

footer {
    background-color: $theme-color-light;
    width: 100%;
    padding: 0 0 0 10px;
}

.main {
    margin-left: $main-margin-side;
    margin-right: $main-margin-side;
    margin-top: 15px;
    flex: 1 0 auto; 
}

@media only screen and (max-width: 576px) {
    .main {
      margin-left:10px;
      margin-right:10px;
    }
    .row {
      margin-left:0px;
    }
}

.hidden {
    display:none !important; 
}

.chart {
    margin: 0 auto;

    max-width: 575px;
}

.content {
    padding: 0 18px;
    overflow: hidden;
    background-color: transparent;
    width:100%;
    transition: max-height 0.2s ease-out;
    max-height: 0px;
}

.navbar {
    background-color: $theme-color-light;
    width: 100%;
}
  
.navbarCollapseItem {
    display:block;
    color:black;
    font-size: 20px;
    margin: 5px 0px;
  
}
  
.navbar-right {
    position: absolute;
    top: 6px;
    right: 16px;
}

.user-field{
    margin: 5px 0px;
}

.input-user-field {
    margin: 0 2px 0 0;
}

.input-text { 
    border: 1px solid;
    border-color: $border-color;
    border-radius: 10px;
    padding: 2px 0px 2px 10px; 
    height:50px;
}

.flex-1{
    flex:1;
}

.add-user {
    background-color: #CBFFC0;
    font-size:18px;
    font-weight: bold;
    margin:0;
}

.remove-user {
    background-color: $theme-color-bright;
    font-size:18px;
    font-weight: bold;
    margin:0;
}

.flexbox {
    display:flex;
}

.title {
    color: $theme-color-bright;
    margin:20px 0px;
}

.text {
    font-size:20px;
    font-weight: 600;
}

.bullet-text {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

.submit {
    display: block;
    background-color: $theme-color-light;
    margin-left:auto;
    margin-right:0;
}

.expand {
    animation: expand 0.2s ease-out;
}

.shrink {
    animation: expand 0.2s ease-in;
    animation-direction: reverse;
}

@keyframes expand {
    0% {
        max-height: 0px;
    }
    100% {
        max-height: 50px;
    }
}

.footer-item{
    display: inline-block;
    margin: 10px;
    color: $font-color;
    font-weight: 500;
    // margin-top: auto;
    // margin-bottom: 0;
}

.background{
    backdrop-filter: blur(4px);

    width:100vw;
    height:100vh;

    position:fixed;
    top:0;
    left:0;

    // z-index: 0;
}

$login-padding-left: 15px;
$login-padding-right:10px;
.login-block {
    background-color: white;

    width:90%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   
    
    border: 1px groove $border-color;
    border-radius: 20px;

    overflow: hidden;
}

.login-row {
    padding-left: $login-padding-left;
    padding-right: $login-padding-right;
}

.login-input {
    width:60%;
    float:right;
}

#forgot-link {
    float: left;
    align-self: center;
}

.signup-bar {
    background-color: $theme-color-light;
    margin-top:10px;
    padding:10px $login-padding-right 10px $login-padding-left;
}

.text-link {
    color:#111111;
    text-decoration: underline;
}

#login-title {
    padding-left: $login-padding-left;
    padding-right: $login-padding-right;
}

.f-row{
    margin: 15px 5px 5px 0px;
}

.label-form {
    margin:0 0 2px 0;
    font-size: 14px;
    font-weight:bold;

}

.input-form {
    width:100%;
}

$error-color: red;
.invalid-input {
    border-color: $error-color;
}

.error-text {
    color: $error-color;
}

.inline {
    display: inline-block;
}

.img-inline {
    display: inline-block;
    width:16px;
}

#editPassword {
    margin-left:0px;
}

#stats-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    gap: 20px 10px;

    margin-bottom: 10px;
}

// TODO there has to be another way to organize the chart blocks
#stats-block-1-1 {
    grid-area: stats-block-1-1;
}
#stats-block-1-2 {
    grid-area: stats-block-1-2;
}
#stats-block-2-1 {
    grid-area: stats-block-2-1;
}
#stats-block-2-2 {
    grid-area: stats-block-2-2;
}
#stats-block-3-1 {
    grid-area: stats-block-3-1;
}
#stats-block-3-2 {
    grid-area: stats-block-3-2;
}

#stats-chart-artists {
    grid-area: chart-artists;
}
#stats-chart-genres {
    grid-area: chart-genres;
}

.stats-page-single {
    grid-template-areas:
        "stats-block-1-1 stats-block-1-1"
        "stats-block-2-1 stats-block-2-1"
        "chart-artists chart-artists"
        "stats-block-3-1 stats-block-3-1"
        "chart-genres chart-genres"
    ;
}

.stats-page-double {
    grid-template-areas:
        "stats-block-1-1 stats-block-1-2"
        "stats-block-2-1 stats-block-2-2"
        "chart-artists chart-artists"
        "stats-block-3-1 stats-block-3-2"
        "chart-genres chart-genres"
    ;
}


.stats-block {
    width: 100%;
    max-width: 400px;
    
    margin: auto;

    background-color: $theme-color-light;
    border: $theme-border;
    border-radius: $border-radius;
}

.stats-block-value {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.stats-block-label {
    text-align: center;
    // background-color: $theme-color-light;
    font-size: 16px;
    padding-bottom: 10px;
}

@mixin horizontal-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

@mixin horizontal-slider-elemnet {
    flex: 0 0 auto;
}

.chart-block-slider {
    @include horizontal-slider;

    // margin and padding seem to cancel, however this is done have an initial gap for the first element
    // but it dissapears when scrolling
    margin: 0 -10px;
    padding: 0 10px;
}

.chart-block {
    @include horizontal-slider-elemnet;
    
    width: 85%;
    
    background-color: $theme-color-light;
    
    border: $theme-border;
    border-left-style: none;
    position: relative;

    &:first-child{

        // This to prevent double borders
        border-left: $theme-border;
    
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    
        >.chart-position-label {
            
            position: relative;
            left: 7px;
            top: -5px;
        }
    }

    &:last-child {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        &:after {
            // Adds an pseudo element to create space after the last chart-block
            position: absolute;
            width:10px;
            left:100%;  
    
            // content seems to need a value, thus fully transparent text is used
            overflow: hidden;
            opacity: 0;
            content: "C";
        }
    }
}


.chart-block-height-1 {
    height: 88px;
}

.chart-block-height-2 {
    height: 105px;
}

.chart-position-label {
    font-style: italic;
    font-size: 22px;
    font-weight: 500;

    position: relative;
    left: 2px;
    top: -7px;
}

@mixin chart-label-offset {
    position: relative;
    top: -20px;
    left: 10%;
}

.chart-key-label {
    font-size: 28px;
    font-weight: 400;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: fit-content;
    
    @include chart-label-offset();
}

.chart-value-label {
    font-size: 18px;
    font-weight: 400;

    width: fit-content;
    
    @include chart-label-offset();

    margin-top: -8px;
}

.left {
    margin-left: 0;
}