{% extends "main/layout.html" %}

{% load static %}

{% block scripts %}
    <script src="{% static 'main/js/util.js' %}"></script>
    <script src="{% static 'main/js/form_util.js' %}"></script>
    <script src="{% static 'main/js/pages/account.js' %}"></script>
{% endblock %}

{% block title %}
    Account - {{ user.user.username }}
{% endblock %}

{% block body %}
    <h1 class="title">{{ username }}</h1>

    <h3 class="title">Account info</h3>

    <div class="f-row">
        <div class="label-form">Email: </div>

        <input class="input-text hidden" type="text" placeholder="email" id="inputEmail" style="width:90%"/>
        <div class="inline" id="emailValue">{{ user.user.email }}</div>
        
        <img src="{% static 'main/img/edit.svg' %}" id="editEmail" class="img-inline">
        <img src="{% static 'main/img/save.png' %}" id="saveEmail" class="img-inline hidden">

    </div>
    <div class="f-row">
        <div class="label-form">Spotify account: </div>
        <div class="inline">{{ user.spotify_account }}</div>
        <img src="{% static 'main/img/edit.svg' %}" id="editSpotifyAccount" class="img-inline">
    </div>

    <div class="f-row">
        <button class="submit" id="editPassword">Edit password</button>
    </div>
    
    <form action="{% url 'reset_password' %}" class="hidden" method="post" id="formResetPassword">
        {% csrf_token %}

        <div class="f-row">
            <div class="label-form">Old password</div>
            <input class="input-text input-form" name="oldPassword" type="password" placeholder="old password" id="inputOldPassword">
        </div>

        <div class="f-row">
            <div class="label-form">New password</div>
            <input class="input-text input-form" name="newPassword" type="password" placeholder="new password" id="inputNewPassword">
        </div>

        <div class="f-row">
            <div class="label-form">Confirm password</div>
            <input class="input-text input-form" name="confirmPassword" type="password" placeholder="confirm password" id="inputConfirmPassword">
        </div>

        <button type="submit" id="submitForm" class="submit">Change password</button>
    </form>
{% endblock %}
