{% extends "main/layout.html" %}

{% load static %}

{% block scripts %}

    <script src="{% static 'main/js/auth_util.js' %}"></script>
    <script src="{% static 'main/js/register.js' %}"></script>

{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block body %}

    <h1 class="title">Register here</h1>

    <form action="{% url 'register' %}" method="post" id="formRegister">
        {% csrf_token %}

        <div class="f-row">
            <label for="inputUsername" class="label-form">Username </label>
            <input name="username" class="input-text input-form" type="text" placeholder="username" id="inputUsername"/>
        </div>

        <div class="f-row">
            <label for="inputPassword" class="label-form">Password </label>
            <input name="password" class="input-text input-form" type="password" placeholder="password" id="inputNewPassword"/>
        </div>

        <div class="f-row">
            <label for="inputPasswordConfirm" class="label-form">Confirm password </label>
            <input name="passwordCheck" class="input-text input-form" type="password" placeholder="confirm password" id="inputConfirmPassword"/>
        </div>

        <div class="f-row">
            <label for="inputEmail" class="label-form">Email </label>
            <input name="email" class="input-text input-form" type="text" placeholder="email" id="inputEmail"/>
        </div>

        <button type="submit" id="submitForm" class="submit">Register</button>
    </form>

    <hr>

    <div class="text">Benefits:</div>
    <ul>
        <li class="bullet-text">Create spotify playlists</li>
        <li class="bullet-text">More detailed stats</li>
        <li class="bullet-text">Manual update profile</li>
    </ul>
{% endblock %}
