{% extends "Base/layout.html" %}

{% load static %}

{% block title %}
    Stats
{% endblock %}

{% block scripts %}

    <link rel="stylesheet" href="{% static 'spotify/css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="{% static 'spotify/js/chart_stats.js' %}"></script>

{% endblock %}

{% block body %}

    <div class="form-group row">
        <div class="col-8 col-sm-10">
            <input name="username" class="form-control-plaintext" type="text" placeholder="Search username..." id="inputUsername"/>
        </div>
        <div id="submitUsername" class="btn btn-primary col-3 col-sm-2"/>Search</div>
    </div>

    <h3 id="title">Stats</h3>

    <canvas class="chart" id="artistChart" width="400" height="400"></canvas>        

    <canvas class="chart" id="genreChart" width="400" height="400"></canvas>

{% endblock %}