{% extends "Base/layout.html" %}

{% load static %}

{% block scripts %}
    <script src="{% static 'Authentication/js/auth_util.js' %}"></script>
    <script src="{% static 'Authentication/js/change_password.js' %}"></script>
{% endblock %}

{% block title %}
    Change password
{% endblock %}

{% block body %}
    <h1>Change password - {{username}}</h1>

    <form action="{% url 'account_message' message %}" method="post" id="formChangePassword">
        {% csrf_token %}

        <div class="form-group row">
            <label for="inputNewPassword" class="col-3 col-sm-2 col-form-label">New password</label>
            <input name="newPassword" class="col form-control-plaintext" type="password" placeholder="password" id="inputNewPassword">
        </div>
        
        <div class="form-group row">
            <label for="inputConfirmPassword" class="col-3 col-sm-2 col-form-label">Confirm password</label>
            <input name="confirmPassword" class="col form-control-plaintext" type="password" placeholder="confirm password" id="inputConfirmPassword">
        </div>

        <input id="submitForm" value="Set password" class="btn btn-primary mb-2"/>
    </form> 
{% endblock %}