{% extends "Base/layout.html" %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'Authentication/css/styles.css' %}">
{% endblock %}

{% block body %}
    
    <h1>Music Match</h1>

    <div class="img-text-block">
        <img class="img-homepage img-left" src="{% static 'Authentication/img/stats.png' %}" alt="View your stats">
        MusicMatch lets you view your music taste! Varying from your favorite artists to your favorite genres. And not just your own! 
        With one simple search request you can view any of your friends music style.
    </div>

    <div class=img-text-block>
        <img class="img-homepage img-right" src="{% static 'Authentication/img/compare.png' %}" alt="Compare your stats">
        MusicMatch lets you compare your music taste with others. All you need is their spotify username. You can view which artist and 
        genres you have in common. 
    </div>
    <div class=img-text-block>
        <img class="img-homepage img-left" src="{% static 'Authentication/img/share_playlist.jpg' %}" alt="Make a collabarative playlist">
        Create and listen to a custom made spotify playlist. This playlist will contain songs based on the music taste of 2 users. Ideal for
        listening to music when you are with the two of you.
    </div>
{% endblock %}